<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].agegroup %></td>
    <td><%= users[i].source %></td>
    <td><%= users[i].channel %></td>
    <td><%= users[i].category %></td>
    <td><%= users[i].brand %></td>
    <td><%= users[i].article %></td>
    <td><%= users[i].youtube %></td>
    <td><%= users[i].language %></td>
    <td><%= users[i].referral %></td>
    <td>
        <!-- <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td> -->
    
</tr>
<% } %>
